<template>
        <div class="container">
            <div class="row justify-content-center">
                <draggable element="div" class="col-md-12" v-model="categories" :options="dragOptions">
                    <transition-group class="row">
                        <div class="col-md-4" v-for="element,index in categories" :key="element.id">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{element.nom}}</h4>
                                </div>
                                <div class="card-body card-body-dark">
                                    <draggable :options="dragOptions" element="div" @end="changeOrder" v-model="element.competences">
                                        <transition-group :id="element.id">
                                            <div v-for="competence,index in element.competences" :key="competence.clef_categorie+','+competence.ordre" class="transit-1" :id="competence.id">
                                                <div class="small-card">
                                                    <textarea v-if="competence === competenceEditee" class="text-input" @keyup.enter="finEdition(competence)" @blur="finEdition(competence)" v-model="competence.nom"></textarea>
                                                    <label for="checkbox" v-if="competence !== competenceEditee" @dblclick="editionCompetence(competence)">{{ competence.nom }}</label>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </draggable>
                                    <div class="small-card">
                                        <h5 class="text-center" @click="ajoutNouvelle(index)">Ajoutez une nouvelle compétence</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </draggable>
            </div>
        </div>
    </template>

    <style scoped>
    .card {
        border:0;
        border-radius: 0.5rem;
    }
    .transit-1 {
        transition: all 1s;
    }
    .small-card {
        padding: 1rem;
        background: #f5f8fa;
        margin-bottom: 5px;
        border-radius: .25rem;
    }
    .card-body-dark{
        background-color: #ccc;
    }
    textarea {
        overflow: visible;
        outline: 1px dashed black;
        border: 0;
        padding: 6px 0 2px 8px;
        width: 100%;
        height: 100%;
        resize: none;
    }
    </style>

    <script>
        import draggable from 'vuedraggable'
        export default {
            components: {
                draggable
            },
            data(){
                return {
                    categories : [],
                    competenceEditee : null
                }
            },
            methods : {
                ajoutNouvelle(id) {
                let clef_user = 1
                        let nom = "Super competence SLAM"
                        let clef_categorie = this.categories[id].id
                        let ordre = this.categories[id].competences.length

                        axios.post('api/competence', {clef_user, nom, ordre, clef_categorie}).then(response => {
                            this.categories[id].competences.push(response.data.data)
                        })
                },
                chargeCompetences() {
                this.categories.map(categorie => {
                    axios.get(`api/categorie/${categorie.id}/competences`).then(response => {
                    categorie.competences = response.data
                    })
                  })
                },
                changeOrder(data){
                    let versCompetence = data.to
                    let deCompetence = data.from
                    let clef_competence = data.item.id
                    let clef_categorie = deCompetence.id == versCompetence.id ? null : versCompetence.id
                    let order = data.newIndex == data.oldIndex ? false : data.newIndex

                    if (order !== false) {
                      axios.patch(`api/competence/${clef_competence}`, {order, clef_categorie}).then(response => {
                      // A completer
                      });
                  }
                },
                finEdition(competence) {
                    this.competenceEditee = null

                    axios.patch(`api/competence/${competence.id}`, {nom: competence.nom}).then(response => {
                    // A completer.
                        })
                },
                editionCompetence(competence){
                    this.competenceEditee = competence
                }
            },
            mounted(){
            let token = localStorage.getItem('jwt')

            axios.defaults.headers.common['Content-Type'] = 'application/json'
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + token

            axios.get('api/categorie').then(response => {
            response.data.forEach((data) => {
                this.categories.push({
                    id : data.id,
                    nom : data.nom,
                    competences : []
                })
            })
            this.chargeCompetences()
        })
            },
            computed: {
                dragOptions () {
                  return  {
                    animation: 1,
                    group: 'description',
                    ghostClass: 'ghost'
                  };
                },
            },
            beforeRouteEnter (to, from, next) {
                if ( ! localStorage.getItem('jwt')) {
                    return next('login')
                }

                next()
            }
    }
    </script>
